html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cards {
    color: navy;
    border: 2px solid cadetblue;
    border-radius: 10px;
    background-color: beige;
    width: 8em;
    height: 6em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
}

.btn {
    background-color: lightblue;
    border: 1.5px solid navy;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: navy;
    text-align: center;
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 10px;
    right: 10px;

}

.btn:hover{
    background-color: rgb(151, 186, 198);
}

dialog {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    color: white;
    width: 200px;
    height: 200px;
    
}

form {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    gap: 8px;
}

.delete-button {
    width: 60px;
    height: 18px;
    color: white;
    background-color: navy;
    border-radius: 8px;

}

